p {
<<<<<<< HEAD
    color:red;
}

h3 {
    color: rgb(86, 25, 25);
}

button {
    color: red;
=======
    color:blue;
}

h3 {
    color: rgb(25, 86, 86);
}

button {
    color: greenyellow;
>>>>>>> new-contacts
}